<!--to perform two way data binding you need to import(import {FormsModule } from '@angular/forms') in app.module.ts and 
    declare it in 
    imports: [
    FormsModule,-->
<input type="text" value="Ks"  [(ngModel)]="uname">
<p>
{{uname}}

</p>
<!--ngx bootstrape-->
<div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text"
             placeholder="Datepicker"
             class="form-control"
             bsDatepicker>
    </div>
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text"
             placeholder="Daterangepicker"
             class="form-control"
             bsDaterangepicker>
    </div>
  </div>