
    <!-- <h1>Welcome {{ title }}</h1> -->
    <!-- <app-class-style></app-class-style> -->
    <!-- <app-eventbinding></app-eventbinding> -->
    <!-- <app-two-way-databind></app-two-way-databind> -->
    <!-- <app-ngif></app-ngif> -->
    <!-- <app-ngswitch></app-ngswitch> -->
    <!-- <app-ngfor></app-ngfor> -->
     <!-- <app-MyContainer></app-MyContainer> <br/><br/><br/><br/><br/><br/> -->
<!-- <app-databind></app-databind> -->

<header>
    <div class="row">
<div class="col-md-12" style="padding: 1px 86px;">
    <nav class="nav nav-tabs" style="background: aqua;">
        <li class="nav-item"><a class="nav-link actiive" routerLink='/home'>Home</a></li>
        <li class="nav-item"><a class="nav-link actiive" routerLink='/about'>About</a></li>
        <li class="nav-item"><a class="nav-link actiive" routerLink='/product'>Products</a></li>
        <li class="nav-item"><a class="nav-link actiive" routerLink='/contact'>Contact</a></li>
    </nav>
</div>

</div>
</header>

<router-outlet></router-outlet>
    